<div class="banner">
    <div class="banner__container">
        <div class="banner__fade">
            <div class="banner__content">
                <div class="banner__content__main">Welcome!</div>
                <div class="banner__content__sub">Millions of movies, TV shows and people to discover. Explore now.</div>
            </div>
        </div>
        <img class="banner__img" src="https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg" height="280px" width="100%"/>
    </div>
</div>